/* Raw CSS */
body {
  a,
  a.tag,
  .btn-link,
  #main_stream .stream_element > .media a.author-name,
  #hovercard h4 a,
  .stream_element .from a.self {
    color: $link-color;

    &:hover, &:focus {
      color: darken($link-color, 10%);
    }
  }

  color: $main-color;

  #publisher_textarea_wrapper > #button_container > span.markdownIndications > a {
    color: $link-color;
  }

  .stream_element { background-color: $stream-bg-color; }

  .sidebar { background-color: $sidebar-bg-color; }
  .selected { background-color: $selected-bg-color; }
  .mentions-input-box textarea { background-color: $textarea-bg-color; color: $textarea-color; }
  .form-control { background-color: $textarea-bg-color; color: $textarea-color; }

  #button_container { color: $buttoncontainer-color; background-color: $buttoncontainer-bg-color; }

  .btn.btn-link { color: $buttoncontainer-color; }

  .publisher-buttonbar .btn.btn-link:hover i { color: lighten($buttoncontainer-color, $buttoncontainer-hover-lighten); }

  .publisher form .options_and_submit #publisher-service-icons .btn.btn-link.question_mark:hover .entypo-cog { color: lighten($buttoncontainer-color, $buttoncontainer-hover-lighten); }

  .write-preview-tabs>li:not(.active) * { background-color: $buttoncontainer-bg-color; color: $buttoncontainer-color; }

  .left-navbar .selected>.hoverable {
    color: $left-navbar-selected-color;
    background: $left-navbar-selected-bg-color;
  }

  .left-navbar .hoverable:hover { color: $left-navbar-hover-color; background-color: $left-navbar-hover-bg-color; }

  .poll_form .progress .bar { background-color: $main-bg-color-dark; }

  .navbar-inverse { background-color: $navbar-bg-color; color: $navbar-color; }

  #notifications_container .stream .stream_element.media, header .nav-badges .notifications .stream_element.media { color: $textarea-color; }

  .md-header .glyphicon { color: $button-color; }

  .md-header.btn-toolbar { background-color: $button-toolbar-bg-color; }

  .dropdown-menu { 
    opacity: 100% !important;
    color: $button-toolbar-color;
    background-color: $button-toolbar-bg-color;
  }

  .aspect_dropdown li a:hover {
    color: $button-pri-color !important;
    background-color: lighten($button-pri-bg-color, $button-pri-hover-lighten);
  }

  .dropdown-menu .selected {
    color: $left-navbar-selected-color !important;
    background-color: $left-navbar-selected-bg-color;
  }

  .aspect_dropdown .selected li a:hover {
    color: $button-pri-color;
    background-color: lighten($button-pri-bg-color, $button-pri-hover-lighten);
  }

  .aspect_dropdown .selected li a .text { color: $button-toolbar-color; }

  .aspect_dropdown li a .text { color: $button-toolbar-color; }

  .aspect_dropdown li a .text:hover { color: $left-navbar-selected-color; }

  .btn-default {
    color: $button-color;
    background-color: $button-bg-color;
    border-color: $button-border-color;
  }
  .btn-default:hover {
    color: $button-color;
    background-color: lighten($button-bg-color, $button-hover-lighten);
    border-color: lighten($button-border-color, $button-hover-lighten);
  }
  .btn-default[disabled] {
    opacity: 100% !important;
    color: $button-disabled-color;
    background-color: $button-disabled-bg-color;
    border-color: $button-disabled-border-color;
  }
  .btn-default[disabled]:hover {
    opacity: 100% !important;
    color: darken($button-disabled-color, $button-disabled-hover-darken);
    background-color: darken($button-disabled-bg-color, $button-disabled-hover-darken);
    border-color: darken($button-disabled-border-color, $button-disabled-hover-darken);
  }

  #invitations-button {
    color: $link-color;
  }

  body #invitations-button {
    color: $link-color;
  }

  .btn-primary { 
    color: $button-pri-color; 
    background-color: $button-pri-bg-color; 
    border-color: $button-pri-border-color; 
  }
  .btn-primary:hover {
    color: $button-pri-color;
    background-color: lighten($button-pri-bg-color, $button-pri-hover-lighten);
    border-color: lighten($button-pri-border-color, $button-pri-hover-lighten); 
  }
  .btn-primary[disabled] { 
    opacity: 100% !important; 
    color: $button-pri-disabled-color; 
    background-color: $button-pri-disabled-bg-color; 
    border-color: $button-pri-disabled-border-color; 
  }
  .btn-primary[disabled]:hover { 
    opacity: 100% !important; 
    color: darken($button-pri-disabled-color, $button-pri-disabled-hover-darken); 
    background-color: darken($button-pri-disabled-bg-color, $button-pri-disabled-hover-darken); 
    border-color: darken($button-pri-disabled-border-color, $button-pri-disabled-hover-darken); 
  }

  .header .pull-right .btn {
    color: $button-pri-color;
    background-color: $button-pri-bg-color;
    border-color: $button-pri-border-color;
  }
  .header .pull-right .btn:hover {
    color: $button-pri-color;
    background-color: lighten($button-pri-bg-color, $button-pri-hover-lighten);
    border-color: lighten($button-pri-border-color, $button-pri-hover-lighten);
  }
  .header .pull-right .btn[disabled] {
    opacity: 100% !important;
    color: $button-pri-disabled-color;
    background-color: $button-pri-disabled-bg-color;
    border-color: $button-pri-disabled-border-color;
  }
  .header .pull-right .btn[disabled]:hover {
    opacity: 100% !important;
    color: darken($button-pri-disabled-color, $button-pri-disabled-hover-darken);
    background-color: darken($button-pri-disabled-bg-color, $button-pri-disabled-hover-darken);
    border-color: darken($button-pri-disabled-border-color, $button-pri-disabled-hover-darken);
  }

  .navbar.navbar-fixed-top .nav-badges .dropdown-menu .view_all a {
    color: $button-pri-color;
    background-color: $button-pri-bg-color;
    border-color: $button-pri-border-color;
  }
  .navbar.navbar-fixed-top .nav-badges .dropdown-menu .view_all a:hover {
    color: $button-pri-color;
    background-color: lighten($button-pri-bg-color, $button-pri-hover-lighten);
    border-color: lighten($button-pri-border-color, $button-pri-hover-lighten);
  }

  .info-bar .section.collapsed .title h5 {
    font-weight: bold;
    color: $button-color !important;
  }

  .info-bar .section.collapsed:hover .title h5 {
    color: $link-color !important;
  }

  .info-bar .section .title h5 {
    color: $link-color;
  }

  .navbar.navbar-fixed-top .nav-badges .dropdown-menu .header {
    background-color: $button-toolbar-bg-color;
    color: $button-color;
  }

  .navbar.navbar-fixed-top .nav-badges .dropdown-open {
    background-color: $button-toolbar-bg-color;
  }

  .navbar.navbar-fixed-top .nav-badges .dropdown-menu .view_all { border-top: 3px solid $textarea-bg-color; }

  .navbar.navbar-fixed-top .nav-badges .dropdown-menu .ajax-loader { background-color: $textarea-bg-color; }

  .navbar.navbar-fixed-top .nav-badges .dropdown-menu .notifications { background-color: $textarea-bg-color; }

}
