// Main color(s)
$background: #424242;
$main-bg-color: #e2e2e2;
$main-color: #404040;
$link-color: #895d69;
$link-color-dark: #3d292e;

// Shades
$main-bg-color-dark: #303030;
$main-bg-color-essence: fade-out($main-bg-color, 0.8);
$main-bg-color-light: lighten($main-bg-color, 10%);

$navbar-bg-color: $link-color-dark;
$navbar-color: $main-bg-color-light;

$left-navbar-selected-color: #ffffff;
$left-navbar-selected-bg-color: #555555;

$left-navbar-hover-color: #ffffff;
$left-navbar-hover-bg-color: $link-color;

/* Custom Variables */
$main-background: $background;

$stream-bg-color: $main-bg-color;
$textarea-bg-color: $main-bg-color;
$textarea-color: $main-color;

$buttoncontainer-color: $main-bg-color-light;
$buttoncontainer-bg-color: $main-bg-color-dark;
$buttoncontainer-hover-lighten: 5%;

$sidebar-bg-color: $main-bg-color;
$selected-bg-color: $main-bg-color-light;
$sidebar-color: $main-color;

$button-toolbar-color: #000000;
$button-toolbar-bg-color: #eee;

//$button-color: $main-bg-color-dark;
//$button-bg-color: #f2f2f2;
$button-color: $button-toolbar-color;
$button-bg-color: $button-toolbar-bg-color;
$button-border-color: #cccccc;;
$button-hover-lighten: 20%;

$button-disabled-color: #8a8a8a;
$button-disabled-bg-color: #c2c2c2;
$button-disabled-border-color: #cccccc;
$button-disabled-hover-darken: 70%;

$button-pri-color: #ffffff;
$button-pri-bg-color: $link-color;
$button-pri-border-color: $link-color;
$button-pri-hover-lighten: 5%;

$button-pri-disabled-color: #ffffff;
$button-pri-disabled-bg-color: $link-color;
$button-pri-disabled-border-color: $link-color;
$button-pri-disabled-hover-darken: 5%;

@import "color_themes/sigmasocial_dark/sigmasocial_dark_override"

